<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find urdf_gazebo_demo)/xacro/car.xacro"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf_gazebo_demo)/world/box_house.world" />
    </include>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car -param robot_description"/>


</launch>